aiofiles==23.2.0
aiohttp==3.9.1
alembic==1.13.1
apscheduler==3.10.4
beautifulsoup4==4.12.2
cloudscraper==1.2.71
fake-useragent==1.4.0
flask==3.0.0
gunicorn==21.2.0
lxml==4.9.3
playwright==1.40.0
psycopg2-binary==2.9.9
pyTelegramBotAPI==4.14.0
python-anticaptcha==0.7.1
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
schedule==1.2.0
selenium==4.16.0
sqlalchemy==2.0.23
undetected-chromedriver==3.5.4